# Ignore files without extension
*
!*/
!*.*
!.*

# Ignore .exe files
*.exe
*.out

# Ignore files containing 'test'
*test*

# Ignore .Exer
*.Exer
*.exer

# Ignore .clangd for C and C++ in neovim
.clangd

